body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: -2px;
}

.logo .blue {
    color: #4285F4;
}

.logo .red {
    color: #EA4335;
}

.logo .yellow {
      color: #FBBC05;
  }